div {
    margin: auto;
}

/* -IDs- */

#blobForms li {
    margin-bottom: 2vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    list-style-type: none;
    font-size: 200%;
    text-align: center;
    box-shadow: 5px 5px 10px black;
    border-radius: 10px;
}
#blobForms figure {
    display: none;
}
#blobForms figure img {
    height: 300px;
    margin: auto;
}
#blobForms figcaption {
    margin: auto;
    font-size: 80%;
}
#blobForms li:hover {
    color: greenyellow;
}
#blobForms li:hover > figure {
    display: flex;
    justify-content: space-evenly;
}

#title {
    margin: auto;
    border-bottom: 7px dotted var(--secondary);
    padding-bottom: 2vh;
    columns: 2;
}
#title img {
    display: block;
    width: 750px;
    border: 5px solid black;
    border-radius: 10px;
}
#title ul {
    display: block;
    width: 60%;
    font-size: 190%;
    margin: auto;
}
#title li {
    margin: 1vh 0;
}

#sourcelinks {
    text-align: center;
    margin-top: 7vh;
}
#sourcelinks a {
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}
#sourcelinks img {
    display: inline;
    width: 75px;
    border: none;
}
#sourcelinks img:hover {
    outline: 3px rgb(70, 176, 211) solid;
}

h1 {
    width: 100%;
    margin: 4vh auto;
    margin-top: 0;
    padding: 2.5vh 0;
    background-color: rgb(16, 82, 54);
    font-size: 400%;
    text-align: center;
}
h2 {
    width: 100%;
    margin: 4vh auto;
    margin-top: 0;
    padding: 1.75vh 0;
    background-color: rgb(16, 82, 54);
    font-size: 280%;
    text-align: center;
}
h3 {
    width: 100%;
    font-size: 230%;
    color: darkgreen;
    background-color: rgb(29, 151, 100);
    padding: 1.25vh 0;
    margin: 2vh auto;
    text-align: center;
}
hr {
    clear:both;
}
p {
    font-size: 160%;
}
hr {
    margin: 0;
    border-top: 2px solid;
}